.home {
    background-color: lightblue;
}

.home_list {
    background-color: #396adb;
    color: white;
}

.note {
    background-color: lightblue;
}

.task {
    background-color: #adc4ff;
}

.task_page {
    color: #4561a8;
}

.task_list {
    background-color: #3957a3;
    color: white;
    font-family: arial;
    display: block;
    width: fit-content;
    text-decoration: none;
}
/* for mutual tags */

.home_link {
    background-color: #396adb;
    color: white;
    display: block;
    width: fit-content;
    text-decoration: none;
}

.back_btn {
    background-color: red;
    color: white;
    font-family: 'Arial';
    font-weight: bold;
    display: block;
    width: fit-content;
}

.back_btn a {
    text-decoration: none;
    color: white;

}

.delete_btn {
    background-color: #3335ab;
}

.delete_btn a {
    color: white;
    text-decoration: none;
}


.cre_up_btn {
    background-color: green;
    color: white;
}

.cre_up_btn a {
    color: white;
    text-decoration: none;
}

h1 {
    color: teal;
    font-family: arial;
}

h2, h3 {
    background-color: teal;
    color: white;
    font-family: arial;
    display: block;
    width: fit-content;
    text-decoration: none;
}

a {
    text-decoration: none;
}
