<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="task">
    <h1>Task List</h1>
    <button><a href="{% url 'tasks:task_create' %}" class="create_btn">Create Task</a></button>
    {% for task in tasks %}
        <a href="{{ task.get_detail_url }}"><h3>{{ task.task_title }}</h3></a>
    {% empty %}
        <h3>There are no tasks yet</h3>
    {% endfor %}
    <button><a href="{% url 'home' %}" class="back_btn">Back to Home</a></button>
</body>
</html>